<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Discord Nitro Codes Generator</title>
    <link rel="stylesheet" href="../css/main.css" />
  </head>
  <body>
    <div class="container">
      <div class="exit">
        <button class="button" onclick="window.close()">X</button>
      </div>
      <div class="title">
        <h1>Discord Nitro Generator</h1>
      </div>
      <div class="generate">
        <textarea id="generator-area" cols="115" rows="10" class="text-area" readonly></textarea>
        <button onclick="putcode()" class="button-two">Generate</button>
      </div>
    </div>
    <script src="../js/main.js"></script>
  </body>
</html>
